{% extends "template.html" %}
{% set active_page = "home" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1>Welcome to FastPoll.</h1>
    <p class="lead">The easiest way to create your own short polls!</p>
    <p><a href="new" class="btn btn-large btn-primary">New Poll</a></p>
</div>
<div class="well">
    <h2>What is FastPoll?</h2>
    <p>FastPoll is built to be the fastest and easiest one question polling website there is. It is built from the
    ground up to be both beautiful, and efficient.</p>
    <p>It leverages new web technologies to create an innovative and stable experience. Why not try it today?</p>
</div>
{% endblock %}