{% extends "template.html" %}
{% set active_page = "new" %}
{% block title %}New Poll{% endblock %}
{% block content %}
    <div class="well">
        <form class="form-horizontal" method="POST" name="newpoll">
            <fieldset>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label for="inputTitle">Title</label>
                    {{ form.title(class="form-control", **{"required":""}) }}
                </div>
                <div class="form-group">
                    <label for="inputDesc">Description</label>
                    {{ form.desc(class="form-control", **{"requried":""}) }}
                </div>
                <div class="form-group">
                    <label for="inputOptions">Options (Separate with a new line)</label>
                    {{ form.options(class="form-control expanding", **{"required":""}) }}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg pull-right">Submit</button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}