{% extends "template.html" %}
{% set active_page = "new" %}
{% block title %}New Poll{% endblock %}
{% block content %}
    <div class="well">
        <form class="form-horizontal" method="POST" name="newpoll">
            <fieldset>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label for="inputTitle">Title</label>
                    {{ form.title(class="form-control", **{"required":""}) }}
                </div>
                <div class="form-group">
                    <label for="inputDesc">Description</label>
                    {{ form.desc(class="form-control", **{"requried":""}) }}
                </div>
                <div class="form-group">
                    <label for="inputOptions">Options (Separate with a new line)</label>
                    {{ form.options(class="form-control expanding", **{"required":""}) }}
                </div>
                <div class="form-group" style="margin-bottom: 0">
                    <label class="pull-left"><strong>Public Poll </strong> {{ form.public(class="checkbox-inline") }}</label>
                    <button type="submit" class="btn btn-primary btn-lg pull-right">Submit</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="well" style="padding:5px">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- FastPoll/new -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-0334153774338665"
        data-ad-slot="4358163331"
        data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </div>
{% endblock %}