{% extends "template.html" %}
{% set active_page = "poll" %}
{% block title %}{{ poll.title }} - Vote{% endblock %}
{% block content %}
    <div class="jumbotron">
    <h1>{{ poll.title }}</h1>
    <p>{{ poll.desc }}</p>
    </div>
    <form class="form-horizontal" method="POST" action="">
        <fieldset>
            <div class="form-group">
            {% for option in poll.load_options() %}
                <input type="radio" name="option" value="{{ option }}" required="true">{{ option }}<br>
            {% endfor %}
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-large btn-primary">
            </div>
        </fieldset>
    </form>
{% endblock %}